---
import MainLayout from '../layouts/main.astro';
import Error from '../components/Error.astro';
import PostSummary from '../components/PostSummary.astro';

const { repositories: { stories:storiesRepo } } = Astro.locals;
const page = parseInt(Astro.url.searchParams.get('page') || '1', 10);
const perPage = 30;
let comments:Story[] = [];

const totalCount = await storiesRepo.countAll({ type: 'comment' });

if (totalCount > 0) {
  comments = await storiesRepo.getAllComments({ page, perPage });
}

const flashErrorVote = Astro.cookies.get('flash_error_vote')?.value;
---
<MainLayout>
  {flashErrorVote && <Error>{flashErrorVote}</Error>}
  <ol class="commentsTimeline">
    {comments.map(story => (
      <li class="storyItem">
        <PostSummary
          story={story}
          path={`/items/${story.root_id}`}
          parentStoryID={story.parent_id}
          showText
          showRootTitle
        />
      </li>
    ))}
  </ol>
  {page * perPage < totalCount && (
    <div class="moreLink">
      <a href={`/?page=${page + 1}`}>More</a>
    </div>
  )}
</MainLayout>

<style>
  .commentsTimeline {
    margin: 0;
    padding-left: 40px;
    margin-bottom: 15px;
  }

  .commentsTimeline > li::marker {
    font-size: 15px;
  }

  .commentsTimeline > li:not(:last-child) {
    margin-bottom: 7px;
  }

  .moreLink {
    margin-left: 48px;
  }

  .moreLink > a {
    color: #828282;
    font-size: 15px;
  }
</style>
