---
import MainLayout from '../layouts/main.astro';
---
<MainLayout title="Product Hacker News | Forfot Password">
  <section>
    <h1>Forgot Password</h1>
    <form action="/recover-password" method="POST">
      <div class="formField">
        <label for="username">username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="formSubmit">
        <button type="submit">send reset email</button>
      </div>
    </form>
</section>
</MainLayout>

<style>
  section {
    margin: 0 auto;
    max-width: 350px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .formField {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .formSubmit {
    margin-top: 5px;
  }

  .formField > label {
    min-width: 20%;
  }

  .formField > input {
    flex: 1;
    font-size: 16px;
    max-width: 80%;
  }
</style>
