---
import Database from 'better-sqlite3';
import MainLayout from '../layouts/main.astro';
import Error from '../components/Error.astro';
import PostSummary from '../components/PostSummary.astro';

const db = new Database('./src/data/phn.db', { verbose: console.log });

const stories: Story[] = db
  .prepare(`
SELECT
	s.*,
	u.username AS by,
	COUNT(c.id) AS descendants,
	(SELECT COALESCE(SUM(weight), 0) FROM story_votes WHERE story_id = s.id) AS score
FROM stories s
JOIN users u ON s.user_id = u.id
LEFT JOIN stories c ON s.id = c.parent_id
WHERE s.type = 'post'
GROUP BY s.id
ORDER BY score DESC, created_at DESC
  `)
  .all();

const flashErrorVote = Astro.cookies.get('flash_error_vote')?.value;
---
<MainLayout>
  {flashErrorVote && <Error>{flashErrorVote}</Error>}
  <ol class="storiesTimeline">
    {stories.map(story => (
      <li class="storyItem">
        <PostSummary story={story} />
      </li>
    ))}
  </ol>
  <div class="moreLink">
    <a href={`/top/2`}>More</a>
  </div>
</MainLayout>

<style>
  .storiesTimeline {
    margin: 0;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  .storiesTimeline > li::marker {
    font-size: 15px;
  }

  .storiesTimeline > li:not(:last-child) {
    margin-bottom: 7px;
  }

  .moreLink {
    margin-left: 48px;
  }

  .moreLink > a {
    color: #828282;
    font-size: 15px;
  }
</style>
