---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<html>
  <head>
    <title>Product Hacker News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An enhanced clone clone of Hacker News, for Product Hackers.">
    <meta name="keywords" content="hacker news, product, coding, design, forum, discussion">
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <img src="/y18.svg" alt="Product Hacker News" />
          <h2>Product Hacker News</h3>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/newest">new</a></li>
          <li><a href="/past">past</a></li>
          <li><a href="/comments">comments</a></li>
          <li><a href="/ask">ask</a></li>
          <li><a href="/show">show</a></li>
          <li><a href="/jobs">jobs</a></li>
          <li><a href="/submit">submit</a></li>
        </ul>
      </nav>
      <div>
        <a href="/login">login</a>
      </div>
    </header>
    <main>
      <ol>
        <!-- Post 1 -->
        <li>
          <div>
            <a href="#"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
            <a href="#">
              <h3>Training my own AI to steal artists' styles</h3>
            </a>
            <a href="#">(julienposture.substack.com)</a>
          </div>
          <div>
            <span>24 points</span> by
            <a href="#">julienposture</a>
            <a href="#">52 minutes ago</a> |
            <a href="#">hide</a> |
            <a href="#">1 comment</a>
          </div>
        </li>
        <!-- Post 2 -->
        <li>
          <div>
            <a href="#"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
            <a href="#">
              <h3>Swarming Proxima Centauri: Picospacecraft Swarms over Interstellar Distances</h3>
            </a>
            <a href="#">(astrobiology.com)</a>
          </div>
          <div>
            <span>76 points</span> by
            <a href="#">Brajeshwar</a>
            <a href="#">2 hours ago</a> |
            <a href="#">hide</a> |
            <a href="#">21 comments</a>
          </div>
        </li>
        <!-- Post 3 -->
        <li>
          <div>
            <a href="#"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
            <a href="#">
              <h3>Compilers for Free with Weval</h3>
            </a>
            <a href="#">(bernsteinbear.com)</a>
          </div>
          <div>
            <span>83 points</span> by
            <a href="#">todsacerdoti</a>
            <a href="#">5 hours ago</a> |
            <a href="#">hide</a> |
            <a href="#">10 comments</a>
          </div>
        </li>
        <!-- Post 4 -->
        <li>
          <div>
            <a href="#"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
            <a href="#">
              <h3>Transforming a QLC SSD into an SLC SSD</h3>
            </a>
            <a href="#">(theoverclockingpage.com)</a>
          </div>
          <div>
            <span>164 points</span> by
            <a href="#">userbinator</a>
            <a href="#">7 hours ago</a> |
            <a href="#">hide</a> |
            <a href="#">83 comments</a>
          </div>
        </li>
        <!-- Post 5 -->
        <li>
          <div>
            <a href="#"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
            <a href="#">
              <h3>Riven</h3>
            </a>
            <a href="#">(filfre.net)</a>
          </div>
          <div>
            <span>351 points</span> by
            <a href="#">doppp</a>
            <a href="#">13 hours ago</a> |
            <a href="#">hide</a> |
            <a href="#">120 comments</a>
          </div>
        </li>
      </ol>
      <div>
        <a href="#">More</a>
      </div>
    </main>
    <footer>
      <div>
        <ul>
          <li><a href="#">Guidelines</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Lists</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Apply to YC</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <label for="mainSearch">Search:</label>
        <input type="search" id="mainSearch" name="q" />
      </div>
    </footer>
  </body>
</html>

<style>
  html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
  }
</style>
