---
import MainLayout from '../layouts/main.astro';
import PostSummary from '../components/PostSummary.astro';

import createStory from '../lib/createStory.mjs';
import topStoriesIds from '../data/top-hn-stories.json';
import storiesDB from '../data/hn-stories-db.json';

let stories: Story[] = topStoriesIds
  .slice(0, 30)
  .map(storyId => createStory(storiesDB[storyId]));
---
<MainLayout>
  <ol class="storiesTimeline">
    {stories.map(story => (
      <li class="storyItem">
        <PostSummary story={story} />
      </li>
    ))}
  </ol>
  <div class="moreLink">
    <a href={`/top/2`}>More</a>
  </div>
</MainLayout>

<style>
  .storiesTimeline {
    margin: 0;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  .storiesTimeline > li::marker {
    font-size: 15px;
  }

  .storiesTimeline > li:not(:last-child) {
    margin-bottom: 7px;
  }

  .moreLink {
    margin-left: 48px;
  }

  .moreLink > a {
    color: #828282;
    font-size: 15px;
  }
</style>
