---
import MainLayout from '../layouts/main.astro';
---
<MainLayout
  title="Product Hacker News | Login or Create Account"
  hideLogin
>
  <section class="loginForm">
    <h1>Login</h1>
    <form action="/authenticate" method="POST">
      <div class="loginForm__field formField">
        <label for="username">username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="loginForm__field formField">
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="loginForm__submit formSubmit">
        <button type="submit">login</button>
      </div>
    </form>
    <div class="loginForm__forgotPassword">
      <a href="/forgot-password">forgot your password?</a>
    </div>
  </section>
  <section class="createAccountForm">
    <h1>Create Account</h1>
    <form action="/create-account" method="POST">
      <div class="createAccountForm__field formField">
        <label for="username">username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="createAccountForm__field formField">
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="createAccountForm__submit formSubmit">
        <button type="submit">create account</button>
      </div>
    </form>
  </section>
</MainLayout>

<style>
  section {
    margin: 0 auto;
    max-width: 350px;
  }

  section.createAccountForm {
    margin-top: 20px;
    border-top: 1px dashed #ccc;
    padding-top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .formField {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .formSubmit {
    margin-top: 5px;
  }

  .formField > label {
    min-width: 20%;
  }

  .formField > input {
    flex: 1;
    font-size: 16px;
    max-width: 80%;
  }

  .loginForm__forgotPassword {
    margin-top: 10px;
    text-align: end;
  }

  .loginForm__forgotPassword a {
    font-size: 11px;
    text-decoration: underline;
  }
</style>
