---
import Button from './Button.astro';
export interface Props {
  parentID: string|number;
  rootID?: string|number;
  submitLabel?: string;
}

const { parentID, rootID, submitLabel = 'add comment' } = Astro.props;
---
<form action={`/stories/new${rootID && `?from=/stories/${rootID}`}`} method="POST">
  <input type="hidden" name="type" value="comment"/>
  <input type="hidden" name="parentId" value={parentID}/>
  <textarea name="text" rows="8" cols="80" wrap="virtual" required></textarea>
  <Button type="submit">{submitLabel}</Button>
</form>

<style>
  form {
    padding: 16px 0 0;
  }

  textarea[name="text"] {
    font-family: monospace;
    font-size: 16px;
    resize: both;
    border-radius: 6px;
    width: calc(100% - 8px);
  }
</style>
