---
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title?: string;
  headerTitle?: string;
  hideNavigation?: boolean;
  hideLogin?: boolean;
}

const user = Astro.cookies.get('user')?.json();
const { title = 'Product Hacker News', headerTitle, hideNavigation, hideLogin } = Astro.props;
const userKarma = Astro.locals.user?.karma;
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An enhanced clone clone of Hacker News, for Product Hackers.">
    <meta name="keywords" content="hacker news, product, coding, design, forum, discussion">
    <link rel="icon" href="/y18.svg">
    <ViewTransitions />
  </head>
  <body>
    <header class:list={['mainHeader', { mainHeader__hiddenNavigation: hideNavigation, mainHeader__hiddenLogin: hideLogin }]}>
      <a href="/" class="brandImg">
        <img src="/y18.svg" alt="Product Hacker News" />
      </a>
      <div class="navWrapper">
        {headerTitle ? (
          <div class="brandTitle">
            <h2>{headerTitle}</h2>
          </div>
        ) : (
          <a href="/" class="brandTitle">
            <h2>Product Hacker News</h2>
          </a>
        )}
        {!hideNavigation ? (
          <nav>
            <ul>
              <li><a href="/?list=newest">new</a></li>
              <li><a href="/comments">comments</a></li>
              <li><a href="/?type=ask">ask</a></li>
              <li><a href="/?type=show">show</a></li>
              <li><a href="/?type=job">jobs</a></li>
              {user ? <li><a href="/submit">submit</a></li> : null}
            </ul>
          </nav>
        ) : null}
      </div>
      {!hideLogin && !user ? (
        <div class="loginWrapper">
          <a href="/login">login</a>
        </div>
      ) : (user ? (
        <div class="logoutWrapper">
          <a href="/users/me">{user.username}</a> ({userKarma || 0}) |
          <a href="/auth/destroy">logout</a>
        </div>
      ) : null)}
    </header>
    <main>
      <slot />
    </main>
    <footer class="mainFooter">
      <div>
        <nav>
          <ul>
            <li><a href="https://www.sbcschool.com.br/">SBC Home</a></li>
            <li><a href="https://www.sbcschool.com.br/technical-product-manager">About TPM Course</a></li>
            <li><a href="https://github.com/m4n3z40/prd-hacker-news">Github</a></li>
            <li><a href="https://www.sbcschool.com.br/privacy">Privacy Terms</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=5561999798448">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="searchWrapper">
        <form action="/search" method="get">
          <label for="mainSearch">Search:</label>
          <input type="search" id="mainSearch" name="q" />
        </form>
      </div>
    </footer>
  </body>
</html>
<style>
  :global(html), :global(body) {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
    margin: 0;
  }

  :global(a) {
    color: #000000;
    text-decoration: none;
  }

  .mainHeader {
    background-color: #ff6600;
    display: flex;
    align-items: center;
    padding: 2px;
  }

  .brandImg > img {
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
    line-height: 0;
    display: block;
  }

  .navWrapper {
    margin: 3px 9px;
  }

  .brandTitle > h2 {
    color: #000000;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
  }

  .navWrapper > nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .navWrapper > nav > ul > li:not(:last-child)::after {
    content: "|";
    margin: 0 4px;
    color: #000000;
    font-size: 12px;
  }

  .navWrapper > nav a {
    font-size: 12px;
  }

  .loginWrapper, .logoutWrapper {
    font-size: 12px;
    color: #000000;
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
  }

  main, .mainFooter {
    background-color: #f6f6ef;
  }

  main {
    padding: 12px 0;
    min-height: calc(100vh - 152px);
  }

  .mainHeader.mainHeader__hiddenNavigation + main {
    min-height: calc(100vh - 136px);
  }

  .mainFooter {
    border-top: 2px solid #ff6600;
    padding: 15px 5px;
  }

  .mainFooter nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainFooter nav li:not(:last-child)::after {
    content: "|";
    margin: 0 4px;
    color: #000000;
    font-size: 11px;
  }

  .mainFooter nav a {
    font-size: 11px;
  }

  .searchWrapper {
    margin-top: 14px;
    text-align: center;
  }

  .searchWrapper input[type="search"] {
    font-size: 16px;
    padding: 1px 2px;
    width: 90%;
  }

  @media (min-width: 768px) {
    .mainHeader, main, .mainFooter {
      min-width: 768px;
      margin: 0 auto;
    }

    main {
      width: 85%;
      min-height: calc(100vh - 162px);
    }

    .mainHeader.mainHeader__hiddenNavigation + main {
      min-height: calc(100vh - 162px);
    }

    .mainHeader {
      margin-top: 10px;
      width: calc(85% - 10px);
    }

    .mainFooter {
      width: calc(85% - 10px);
      margin-bottom: 10px;
    }

    .navWrapper {
      display: flex;
    }

    .navWrapper > nav {
      margin-left: 5px;
    }
  }
</style>
