---
import MainLayout from '../../layouts/main.astro';
import VotesRepository from '../../repositories/Votes';

if (!Astro.locals.loggedIn) {
  return Astro.redirect('/login', 302);
}

const { db, user } = Astro.locals;
const votesRepo = new VotesRepository(db);
const userKarma = await votesRepo.getUserKarma(user.id);
---
<MainLayout
  title="Product Hacker News | Your Profile"
  userKarma={userKarma}
  hideLogin
>
  <section>
    <h1>Your Profile</h1>
    <p>Username: {user.username}</p>
    <p>Created: {user.created_at}</p>
    <p>Karma: {userKarma}</p>
  </section>
</MainLayout>

<style>
  section {
    margin: 0 auto;
    max-width: 350px;
  }
</style>

